body {
    margin: 0;
    background: linear-gradient(-45deg, #828282, white);
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    justify-content: center;
}

.header_container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refs_block {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.ref {
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    transition-duration: 0.2s;
}

.ref:hover {
    color: #CD1A17;
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
}

.pre_container {
    width: 100%;
    min-height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 85%;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px grey;
}

.body_title {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
    text-shadow: 0px 0px 7px red;
}

.input_name {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

input {
    width: 300px;
    height: 25px;
    margin-bottom: 15px;
    border: 1px black solid;
    border-radius: 10px;
    outline: none;
    color: dimgray;
    font-size: 17px;
    padding: 2px 10px;
}

input:focus {
    box-shadow: 0px 0px 15px grey;
}

.form_button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px red;
    background-color: black;
    color: white;
    margin-top: 50px;
    transition-duration: 0.2s;
}

.form_button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
}

.error_msg {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: red;
}

.error_input {
    box-shadow: 0px 0px 15px red;
}